.responseTime {
    font-style: italic;
    color: gray;
}

.contactHref {
    text-decoration: none;
    color:rgb(44, 98, 199);
    transition: 0.2s;
}

.contactHref:hover {
    color:rgb(172, 205, 249);
}

.contactGrid {
text-align: center;
align-items: center;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  margin-bottom: 40px;
}


input {
    background-color: #212121;
    border: none;
    border-radius: 10px;
    padding: 7px;
    margin:4px;
    color:white;
}

textarea {
       background-color: #212121;
    border: none;
    border-radius: 10px;
    padding: 7px;
    margin:4px;
    color:white; 
    max-width: 425px; max-height: 220px;
}